input[type=checkbox] {
    transform: scale(1.5);
    position:center;
    margin-right: 10px!important;
}

.saveButton{
    height: 48px !important;
    border: 2px solid black;
}

.menu2{
    background-color:#e0e0e0!important;
}

.dropdownHeader{
    width:50%!important;
}
